html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-weight: 400;
    font-family: "Microsoft YaHei","PingFang SC",Arial,sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
img{
    max-width: 100%;
}
a{
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.btn{
    padding: 0.46rem 1rem;
    margin: 2px 0px;
}
.kt-badge.kt-badge--rounded {
    margin: 2px;
}
.btn-sm, .btn-group-sm > .btn {
    padding: 0.2rem 0.5rem;
    font-size: 0.875rem;
}
.form-control{
    height: auto;
    min-width: 110px;
}
.table th, .table td {
    vertical-align: middle;
}
.form-group label {
    font-size: 1rem;
    height: 36px;
    /* padding-top: calc(0.5rem + 1px); */
    font-weight: 400;
    text-align: right;
    
}
.form-group .search-label{
    padding-left: 0px;
    padding-right: 0px;
    }
.col-form-label{
line-height: 1rem;
}
.form-group{
    margin-bottom: 1rem;
}
.search-form-actions{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-top: 1px dashed #ebedf2;
    padding-top: calc(.65rem + 1px);
}
.btn.btn-search {
    background-color: #e9f2fa;
    color: #36a0fe;
}
.search-form-actions .btn {
    font-size: 1.1rem;
    letter-spacing: 2px;
}
.f-l{
    float: left;
}
.mt-0{margin-top:0px}.mt-5{margin-top:5px}mt-5{margin-top:5px}.mt-10{margin-top:10px}.mt-15{margin-top:15px}.mt-20{margin-top:20px}.mt-25{margin-top:25px}.mt-30{margin-top:30px}.mt-35{margin-top:35px}.mt-40{margin-top:40px}.mt-50{margin-top:50px}
.mb-0{margin-bottom:0px}.mb-5{margin-bottom:5px}.mb-10{margin-bottom:10px}.mb-15{margin-bottom:15px}.mb-20{margin-bottom:20px}.mb-30{margin-bottom:30px}.mb-40{margin-bottom:40px}.mb-50{margin-bottom:50px}
.ml-0{margin-left:0px}.ml-5{margin-left:5px}.ml-10{margin-left:10px}.ml-15{margin-left:15px}.ml-20{margin-left:20px}.ml-30{margin-left:30px}.ml-40{margin-left:40px}.ml-50{margin-left:50px}
.mr-0{margin-right:0px}.mr-5{margin-right:5px}.mr-10{margin-right:10px}.mr-15{margin-right:15px}.mr-20{margin-right:20px}.mr-30{margin-right:30px}.mr-40{margin-right:40px}.mr-50{margin-right:50px}
.overflow{
    overflow: hidden;
}
.btn.btn-label-primary:hover, .btn.btn-search:hover {
    background-color: #1d63cc;
    color: #fff;
}
.table .thead-light th {
    background-color: #f5f5f5;
}
.btn-xs, .btn-group-xs > .btn {
    padding: 0.2rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}
.text-c{
    text-align: center;
}
.caozuobox{
    padding: 10px 25px;
    border-bottom: 1px solid #ebedf2;

}
.kt-header__topbar .kt-header__topbar-item .kt-header__topbar-wrapper .kt-header__topbar-icon.c-tool-text>.c-text {
    margin-left: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100px;
    display: inline-block!important;
}
.kt-subheader .kt-subheader__main .kt-subheader__title{
    font-size: 1rem;
}
.c-footer{
    width: 100%;
    text-align: center;
    color:#999
}
.kt-footer {
    background: transparent;
}   
.change-container{
        /* margin-top: 54px; */
}
.kt-portlet .kt-portlet__head{
    border-bottom: 0px;
}
.welcome-content .kt-portlet{
    overflow: hidden;
}
.welcome-content .kt-portlet .kt-portlet__head{
border-bottom: 0px;
padding: 0 15px
}
.welcome-content .kt-portlet .kt-portlet__body{
    padding: 15px;
}
.welcome-content .kt-portlet .kt-portlet__head .kt-portlet__head-label{
    width: 100%;
}
.welcome-content .kt-portlet .kt-portlet__head .kt-portlet__head-label .kt-portlet__head-title{
    font-size: 1.2rem;
    font-weight: bold;
    color:#333
}
.welcome-content .fonts4{
    width: 150px;
}
.welcome-content .kt-section{
 margin:0px
}
.form-control:focus {
    border-color: #4885e0;
}
.wel-number-title{
    text-align: center;
}
.wel-number{
    text-align: center;
    margin-bottom: 0px;
    font-size: 30px;
    font-weight: bold;
}
.min-height-1{
    min-height: 140px;
}
.message-portlet .panel-header{
    background-color: #fe943e;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    height: 38px;
    line-height: 38px;
    padding: 0px 15px;

}
.panel-body {
    padding: 15px;
}
.boxultwo {
    display: block;
    overflow: hidden;
    padding: 0px;
    margin-bottom: 0px;
}
.boxultwo li {
    overflow: hidden;
    display: block;
    line-height: 32px;
    border-bottom: 1px dashed #e9e9e9;
}
.boxultwo .boxonetxt {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    color: #000;
}
.boxultwo .square {
    width: 2rem;
    height: 32px;
    text-align: center;
    color: #14bd94;
    display: block;
    float: left;
}
.ahover{
    color:#333
}
.font-color-w{
    color:#fff
}
.messagemore{
    float: right;
}
.messagemore:hover{
    color: #fff;
}
.boxul {
    display: block;
    overflow: hidden;
    padding: 0px;
    margin-bottom: 0px;
}
.boxul li {
    overflow: hidden;
    display: block;
    line-height: 32px;
}
.boxul span {
    display: block;
    float: left;
}
.boxul .boxonetxt {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 70%;
    color: #000;
}
.boxul .square {
    width: 2rem;
    height: 32px;
    background: url(../../media/welcome/dot.png) no-repeat center;
}
.boxul .datebox {
    text-align: right;
    width: 30%;
    color:#999
}
.boxulthree {
    display: block;
    overflow: hidden;
    padding: 0px;
    margin-bottom: 0px;
}
.boxulthree li {
    overflow: hidden;
    display: block;
    line-height: 31px;
    border-bottom: 1px dashed #e9e9e9;
}
.boxulthree span {
    display: block;
    float: left;
}
.boxulthree .boxonetxt {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 60%;
    color: #000;
}
.boxulthree .square {
    width: 1.5rem;
    height: 31px;
    color:#ff5b05;
}
.boxulthree .datebox {
    text-align: right;
    width: 40%;
    color:#4885e0;
    font-size: 16px;
    font-weight: bold;
}
.panel-header{

    line-height: 1.2rem;
    padding:15px;
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: 0px;
}
.lanmumore{
    float: right;
    color:#999
}
.qianbiao{
    float: left;
width: 2px;
height: 1.2rem;
background-color: #fa873a;
margin-right: 10px;}
.kt-container-2 {
    padding: 0 25px;
}
.kt-subheader .kt-container-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.changecheckbox-list .kt-checkbox{

    text-align: left;
    display: inline-block;
    margin-right: 10px;
    width: 45%;

}
.change-pagenation .page{
    margin-right: 7px;
    background: rgba(93, 120, 255, 0.1);
    font-weight: 500;
    color: #74788d;
    font-size: 1rem;
    padding: 0 0.2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-width: 30px;
    min-height: 30px;
    border-radius: 4px;

}
.change-pagenation .page:last-child{
    margin-right: 0px;
}
.change-pagenation .page[disabled="disabled"]{
    background: rgba(0,0,0,0.1);
    color: #999!important;
}
.change-pagenation .current{
    background-color: #1d63cc;
    color: #fff;
}
.change-pagenation .page:hover{
    background-color: #1d63cc;
    color: #fff !important;
}
.change-pagenation .page[disabled="disabled"]:hover{
    background: rgba(0,0,0,0.1)!important;
    color: #999!important;
}
.changetable > .kt-datatable__table > .kt-datatable__head .kt-datatable__row, .kt-datatable > .kt-datatable__table > .kt-datatable__body .kt-datatable__row, .kt-datatable > .kt-datatable__table > .kt-datatable__foot .kt-datatable__row {
    border-bottom: 0px ;
}
.kt-datatable > .kt-datatable__table > .kt-datatable__head .kt-datatable__row > .kt-datatable__cell .kt-checkbox.kt-checkbox--solid > span, .kt-datatable > .kt-datatable__table > .kt-datatable__body .kt-datatable__row > .kt-datatable__cell .kt-checkbox.kt-checkbox--solid > span, .kt-datatable > .kt-datatable__table > .kt-datatable__foot .kt-datatable__row > .kt-datatable__cell .kt-checkbox.kt-checkbox--solid > span {
    background: #e5eaff;
}
.kt-datatable.kt-datatable--default > .kt-datatable__table > .kt-datatable__body .kt-datatable__row-detail {
    display: block;
    background-color: #f9fcff;
}
.kt-datatable > .kt-datatable__table > .kt-datatable__body .kt-datatable__row-detail .kt-datatable__detail table {
    width: 100%;
}
.kt-datatable.kt-datatable--default > .kt-datatable__table > .kt-datatable__body .kt-datatable__row-detail .kt-datatable__detail {
    display: block;
    padding: 0px;
}
.kt-datatable.kt-datatable--default > .kt-datatable__pager {
    padding: 25px 0px;}
.changetable th{
    border: 1px solid #ebedf2;
    background-color: #f5f5f5 !important;
}

 .changetable td {
    border: 1px solid #ebedf2;
    border-top: 0px;
}
.bg-gray{
    background-color: #fafafa !important;
}
.kt-section .kt-section__heading.kt-section__title-md, .kt-section .kt-section__title.kt-section__title-md {
    font-size: 1.2rem;
}
@media (min-width: 1025px)
{
    .kt-aside--enabled.kt-subheader--fixed .kt-subheader {
        left: 0px;
        top: 0px;
        position: relative;
        box-shadow: none;
        background-color: #f2f3f8;
    }
 
   
}
@media (max-width: 1024px){
    .kt-subheader--enabled.kt-subheader--solid .kt-subheader {
    margin-bottom: 0px;
    left: 0px;
    right: 0px;
    box-shadow: none;
    background-color: #f2f3f8;
    /* position: fixed; */
    z-index: 1000;
    
}
.caozuobox{
    padding: 10px 15px;}
    .changecheckbox-list .kt-checkbox{

        text-align: left;
        display: block;
        margin-right: 0px;
        width: 100%;
    
    }
    .mt-20{
        margin-top: 15px;
    }
}
@media (max-width: 767px){
    .form-group .search-label {
        text-align: left;
        padding-left: 10px;
        padding-right: 10px;}
}
.cs-l,.cs-r{
    width: 35%;
}
.cs-c{
    width: 130px;
}
@media (max-width: 600px){
.cs-c{
    height: 160px;
}
    .cs-l,.cs-r,.cs-c{
        width: 100%;
    }
  
}