.kt-aside .kt-aside-menu {
    margin:0;
}

.webheader{
    line-height: 64px;
    margin-bottom: 0px;
    font-size:28px;
    color:#093264;
    font-weight: bold;
}

.kt-header{
    filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#fff,endcolorstr=#e1ebfa,gradientType=0);
    -ms-filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#fff,endcolorstr=#e1ebfa,gradientType=0);/*IE8浏览器下的渐变背景*/	
    background:#e1ebfa; /* 一些不支持背景渐变的浏览器 */  
    background:-moz-linear-gradient(top, #fff, #e1ebfa);  /* Firefox浏览器下的渐变背景 */
    background:-webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to(#e1ebfa));  /* chrome/Safari浏览器下的渐变背景实现 */
    background:-o-linear-gradient(top, #fff, #e1ebfa); /* Opera浏览器下的渐变背景 */
    border-bottom: 1px solid #c5d9f7;
    background-image: url(../../media/main/top-bg.jpg);
    background-repeat: repeat-x;
}
.kt-aside-menu .kt-menu__nav{
    padding:0px
}
.kt-header__topbar .kt-header__topbar-item .kt-header__topbar-wrapper .kt-header__topbar-icon.c-tool-text {
    display: flex;
    width: auto;
    padding: 0 10px 0 10px;
    color: #666;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 13px;
}
.kt-header__topbar-icon i,.kt-header__topbar-user i{
    margin-right: 5px;
}
.kt-header__topbar .kt-header__topbar-item .kt-header__topbar-icon{
    width: auto;
    color:#666;
    padding: 0 10px 0 10px;
}
.kt-header__topbar-user i{
    transition: all 0.3s;
    color: #c8cad5;
}
.kt-header__topbar-item:hover .kt-hidden-mobile{
    color: #1d63cc !important;
}
.kt-header__topbar-item--user:hover  .kt-header__topbar-user i,.kt-header__topbar-item--user:hover .kt-header__topbar-user .kt-hidden-mobile{
    transition: all 0.3s;
    color: #1d63cc !important;
}
.kt-header__topbar .kt-header__topbar-item.kt-header__topbar-item--user .kt-header__topbar-user .kt-header__topbar-username{
    padding-right: 0px;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--open > .kt-menu__heading,
.kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--open > .kt-menu__link,
.kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item.kt-menu__item--active > .kt-menu__link{
    background-color: #e1ebfa;
    border-bottom: 1px solid #fff;
}
.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link .kt-menu__link-icon{
    flex: 0 0 30px;
}
.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__submenu .kt-menu__subnav > .kt-menu__item > .kt-menu__link {
    padding-left: 55px;
}
.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__submenu .kt-menu__subnav > .kt-menu__item > .kt-menu__submenu .kt-menu__subnav > .kt-menu__item > .kt-menu__link{
    padding-left: 65px;
}
.kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__subnav{
    background-color: #f8f8fb;
}
.kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__link {
    background-color: #eaf0f9;
}
.kt-header__topbar .kt-header__topbar-item .kt-header__topbar-icon i{
    font-size:1rem;
}
.kt-header .kt-header__topbar .kt-header__topbar-item.show.kt-header__topbar-item--user .kt-header__topbar-user i,
.kt-header .kt-header__topbar .kt-header__topbar-item.show.kt-header__topbar-item--user .kt-header__topbar-user .kt-hidden-mobile{
    color: #1d63cc !important;
}
.dropdown-menu.dropdown-menu-top-unround{
    border-radius:4px;
    overflow: hidden;
}
.kt-user-card{
    display: block;
    padding: 1rem;
}
.kt-user-card-1{
    width: 100%;
    font-size: 1rem;
    color:#c5d4f3
}
.kt-user-card-2{
    width: 100%;
    font-size: 1.8rem;
    color:#fff
}
.kt-user-card-3{
    width: 100%;
    font-size: 1.2rem;
    color:#fff
}
.dropdown-menu.dropdown-menu-xl {
    width: 320px;
}
.kt-notification .kt-notification__custom{
    padding: 1.2rem;
}
.log-out{
    width: 100%;
    background-color: #f5914e;
    color:#fff
}
.log-out:hover{
    background-color: #f27537!important;
    color:#fff
}
.change-content{
    border:0px;
    width: 100%;
    height: 100%;
}
.rolebtn{
    display: block;
    width: 100%;
    padding: 10px 10px;
    text-align: center;
    color: #fff;
    background-color: #1d63cc;
    font-size: 18px;
    border-radius: 10px;
    -webkit-transition: .3s ease-in;
    -o-transition: .3s ease-in;
    transition: .3s ease-in;
}
.rolebtn:hover{
    color: #fff;
    background-color: #4885e0;
    font-weight: bold;
}
@media (min-width: 1025px)
{
    .kt-aside--fixed .kt-aside {
    position: fixed;
    top: 65px;
    bottom: 0;
    left: 0;
    z-index: 98;
}
.kt-aside--minimize .kt-aside-menu .kt-menu__nav {
    padding: 0;
}
.kt-aside--enabled .kt-header.kt-header--fixed {
    left: 0px;
}
.kt-aside__brand {
    background-color: transparent;
}
.kt-header--fixed.kt-subheader--fixed.kt-subheader--enabled .kt-wrapper {
     padding-top: 65px; 
}
.kt-content {
    padding:0px;
    height: 100%;
}
.kt-container {
    padding: 0 15px;
}

}
@media (max-width: 1024px)
{.kt-header-mobile {
    filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#fff,endcolorstr=#e1ebfa,gradientType=0);
    -ms-filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#fff,endcolorstr=#e1ebfa,gradientType=0);/*IE8浏览器下的渐变背景*/	
    background:#e1ebfa; /* 一些不支持背景渐变的浏览器 */  
    background:-moz-linear-gradient(top, #fff, #e1ebfa);  /* Firefox浏览器下的渐变背景 */
    background:-webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to(#e1ebfa));  /* chrome/Safari浏览器下的渐变背景实现 */
    background:-o-linear-gradient(top, #fff, #e1ebfa); /* Opera浏览器下的渐变背景 */
    border-bottom: 0px;
}
.kt-header__topbar .kt-header__topbar-item .kt-header__topbar-icon i,.kt-header__topbar-user i{
    font-size:1.4rem;
    margin: 0px 6px;
}
.kt-subheader--enabled .kt-content {
    padding: 0;
    height: 100%;
}
}
@media (max-width: 1360px){
.webheader{
    font-size:18px;
}
}
@media (max-width: 1160px){
    .webheader{
        font-size:13px;
    }
    }
@media (max-width: 1060px){
    .webheader{
            font-size:12px;
        }
    }